<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="c-blue py-05 font-bold"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
