// kv
.kv{
    position: relative;
}
.kv-img_small{
    height:450px;
    max-height:800px;
}
.kv-img_midum{
    height:700px;
    max-height:850px;
}
.kv-title{
    width:60%;
    text-align: center;
    position: absolute;
    color: white;
    font-weight: bold; 
    font-family :Quicksand, sans-serif;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    // fadeの処理
    animation: fadeIn 5s ease 0s 1 normal;
    @keyframes fadeIn { 
        0% {opacity: 0} 
        100% {opacity: 1} 
     }
}

